/* header section */
.images-text{
background-image: url(../resources/Banner\ Image.png);
background-size: cover;
width: 1300px;
height: 600px;
border-radius: 16px;
padding: 230px 530px 300px 530px;
}
.h2{
    color: black;
    text-align: center;
    font-size: 80px;
    font-weight: 900px;
}
.h5{
    color: black;
    text-align: center;
    font-size: 50px;
    font-weight: 400px;
}
/* 65% off section */
.off{
    color: #F00;
    text-align: center;
    font-size: 100px;
    font-weight: 700px;
    padding: 50px;
}
.holiday{
     color: #FF0000;
     font-size: 25px;
     font-weight: 600px;  
     text-align: center;
}
.categories{
    text-align: center;
    color: #070211;
    font-size: 55px;
    font-weight: 750px;
    padding: 20px 0 70px;
}
.new-year-photo{
    text-align:center;
}
/* welcome section */
.new-year-party{
    background-image: url(../resources/Vectorrr.png);
    background-size: cover;
    border-radius: 16px;
}
.welcome{
    color: #FFF;
    font-size: 100px;
    font-weight: 800px;
    width: 700px;
    padding: 160px 560px 0px 130px;
}
.discription{
    color: rgba(255, 255, 255, 0.80);
    font-size: 30px;
    padding: 20px 540px 50px 130px;
    font-weight: 700px;
    width: 1000px;
}
.join-now{
    color: #FFF;
    text-align: left;
    font-size: 35px;
    font-weight: 600;
    padding: 0px 160px;
    margin: 0px;
    border: 0px;
}
.Group{

}
/* Place Date Time section */
.primary-color{
    color: red;
}
.Place{
    font-size: 50px;
    font-weight: 600px;
    padding: 300px 385px 220px;
    background-color: rgb(248, 197, 214);
    background-size: cover;
    text-align: center;
    border-radius:16px;
}
.button{
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 700px;
    background-color: red;
    border-radius: 10px;
    padding: 15px;
}
/* Comming Soon 2024 section */
.coming-soon{
    background-color: white;
    background-size: cover;
    display: flex;
    
}
.new-best-offer{
    color: red;
text-align: left;
font-size: 30px;
font-weight: 300px;
}
.coming{
font-size: 55px;
font-weight: 600px;
}
.coming-soon-paragraph{
    color: black;
font-size: 30px;
font-weight: 500px;
padding: 0 70px 0 0;
}
.Ellipse{
    width: 700px;
height: 700px;
margin: opx;
padding:100px 600px 100px 400px;
border-color: red;
border: 25px;
}
.class-2024{
    color: red;
font-size: 50px;
font-weight: 700px;
}
/* discount section */
.function{
    text-align: center;
    background-color:white;
    background-size: cover;
}
.holiday{
    color: red;
    font-size: 80px;
}
.Rectangle{
    float: right;
    padding-right: 0;
    background-image: url(../resources/Rectangle\ 1.png);
    background-position: right;
    background-size: 600px;
    background-repeat: no-repeat;
    height: 600px;
    padding-right: 350px;
}
.Rectangle2{
    width: 2415px;
    height: 250px;
}
.group75{
   
}
.function-haed{
 color: black;
 font-size: 40px;
 font-weight: 500px;
 padding: 30px;
}
.function-haeder{
    font-size: 80px;
    font-weight: 900px;
}
.function-paragraph{
 font-size: 30px;
 padding: 0px 300px ;
}
/* GIFT section */
.gift-section{
    background-color: white;
    background-size: cover;
}
.gift{
    color: red;
font-size: 30px;
font-weight: 500px;
}
.portfilio{
font-size: 50px;
font-weight: 900px;
}
.gift-paragraph{
font-size: 30px;
font-weight: 200px;
}
.row{
    width: 1000px;
}
.column{
    border-radius: 20px;
    display: flex;
}
.row-column{
    padding: 30px;
}
/* subscribe section */
.group61{
    background-color: rgb(254, 214, 222);
    background-size: cover;
    text-align: center;
    border-radius: 16px;
    padding: 300px ;
}
.Subscribe{
text-align: center;
font-size: 60px;
font-weight: 700px;
}
.Subscribe-paragraph{
    font-size: 30px;
    font-weight: 200;
}
/* unsubscripe-section */
.unsubscribe-div{
    display: flex;
    background-color: black;
    background-size: cover;
    color: white;
}
.unsubscribe-haed{
    ;
    font-size: 30px;
    font-weight: 150px;
}
.unsubscribe-haed{
    font-size: 30px;
    font-weight: 150px;
}


